// ==========================
// HEADER Y NAVBAR
// ==========================
header {
    background-color: $header-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    border: solid $header-color;
    text-align: center;
  
    .navbar {
      ul {
        list-style: none;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 5px;
        padding: 5px 0;
  
        li a {
          color: $footer-color;
  
          &:hover {
            color: color.adjust($footer-color, $lightness: -20%);
            text-decoration: underline;
          }  
        }
      }
    }
  
    .logo {
      height: 50px;
      width: auto;
      max-width: 80%;
      object-fit: contain;
    }
  }
  