// ==========================
// VARIABLES
// ==========================
$primary-font: "Quicksand", sans-serif;
$bg-color: #e3e4e5;
$header-color: #073763;
$link-color: #ffce32;
$text-color: #022342;
$button-bg-color: #073763;
$button-text-color: #ffce32;
$footer-color: #ffce32;
